{% if user.profile.avatar %}
<img class="d-block mx-auto mb-4" src="{{ user.profile.avatar.url }}" alt="{{user.get_full_name}}" width="{{user.profile.avatar.width}}">
<div hx-get="{% url 'accounts:delete_avatar' user.id %}"><i class="bi bi-x-square"></i></div>
{% else %}
<form method="post" id="avatar_form" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="col-md-6 p-2 d-block mx-auto mb-4">
        <div class="form-floating">
            {{ avatar_form.avatar }}
            <label class="mb-2 text-muted" for="{{ avatar_form.avatar.id_for_label }}">{{ avatar_form.avatar.label }}</label>
        </div>
        <span class="text-error invalid-feedback">{{ avatar_form.avatar.errors  }}</span>
    </div>   
    <input class="btn btn-primary" name="avatar_form" type="submit"  value="Upload">           
</form>                       
{% endif %}