{% extends "bds/layouts/base.html" %}
{% load static %}

{% block title %}Password reset Done{% endblock %} 

{% block content %}

<section class="bg-primary d-flex align-items-center" style="min-height: 100vh;">
    <div class="container px-0">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div data-aos="fade-up" data-aos-delay="100" class="card p-5 bg-secondary text-primary">
                    <h1 class="fs-4 fw-bold mb-4">Password Reset Done</h1>

                    <div class="col-12" >
                        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock content %}


